{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include "hospital/main_navbar.html" %}


<div class="text-center">
        <span class="display-3 glow mt-2"> "We Care about your Sound Health" </span>
</div>

<div class="home_bg">
    <div class="container">
    <div class="row">
        <div class="col-md-6 col-12 mt-4 p-0">
            <img class = "banner_img"src="{% static 'images/CAIS.jpg' %}" alt="AI"/>
        </div>
        <div class="col-md-6 col-12 mt-4 p-0">
            <div class="center_box d-flex align-items-center">
                <div>
                    <h1 class="colored_text"> AI is the new electricity </h1>
                    <p class="banner_text_color">AI is powering personal devices in our homes and offices similarly to electricity. AI will be the next big thing after the electricity that will hugely impact our daily life</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 mt-4 p-0">
            <div class="center_box d-flex align-items-center">
                <div>
                    <h1 class="colored_text"> Making the Big World for Healthcare Smaller </h1>
                    <p class="banner_text_color">Still in 2021 many people are not able to get proper healthcare services because of not a wide reach of the doctors and hospitals. Using AI people can have a personal doctor at home.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 mt-4 p-0">
            <img class = "banner_img"src="{% static 'images/AI2021-ARTSTOCKCREATIVE-adobe-cp.jpg' %}" alt="AI"/>
        </div>
       <div class="row">
        <div class="col-md-6 col-12 mt-4 p-0">
            <img class = "banner_img"src="{% static 'images/CAIS.jpg' %}" alt="AI"/>
        </div>
        <div class="col-md-6 col-12 mt-4 p-0 ">
            <div class="center_box d-flex align-items-center">
                <div>
                    <h1 class="colored_text"> AI is the new electricity </h1>
                    <p class="banner_text_color">AI is powering personal devices in our homes and offices similarly to electricity. AI will be the next big thing after the electricity that will hugely impact our daily life</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
   


{% endblock content %}
